// This is a #portfolio index-header container
.portfolio_header-container {
  @include default-viewport;
}
// This is a #portfolio works portfolio-menu container
.portfolio_works-container {
  padding-top: 94px;
  padding-bottom: 94px;
  @include default-viewport;
}
// This is a #portfolio footer-menu container
.footer-container {
  padding-bottom: 60px;
  padding-top: 60px;
  @include default-viewport;
}
