// This is a index-header container
.header-container {
  @include default-viewport;
}
// This is a index hero-menu container
.hero_menu-container {
  max-width: 1600px;
  @include auto-center;
  padding-top: 200px;
  padding-bottom: 200px;
}
// This is a index advantages-menu container
.advantages_menu-container {
  padding-top: 94px;
  padding-bottom: 94px;
  @include default-viewport;
}
// This is a index work-menu container
.work_menu-container {
  padding-bottom: 94px;
  @include default-viewport;
}
// This is a index our-team-menu container
.our_team-container {
  padding-top: 94px;
  padding-bottom: 94px;
  @include default-viewport;
}
// This is a index regular-customers-menu container
.regular_customers-container {
  padding-top: 94px;
  padding-bottom: 94px;
  @include default-viewport;
}
// This is a index footer-menu container
.footer-container {
  padding-bottom: 60px;
  padding-top: 60px;
  @include default-viewport;
}
