// This is a index-header #mobile container
.background-container {
	border: 1px solid rgba(33, 33, 33, 0.2);
}
.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
 
	@media screen and (min-width: 480px) {
	  width: 480px;
	}
 
	@media screen and (min-width: 768px) {
	  width: 768px;
	}
 
	@media screen and (min-width: 1200px) {
	  width: 1200px;
	}
 }
 .hero_menu-container {

	@media screen and (min-width: 320px) {
	  max-width: 767px;
	}
 
	@media screen and (min-width: 768px) {
	  max-width: 1199px;
	}
 
	@media screen and (min-width: 1200px) {
	  max-width: 1600px;
	}
 }
 .advantages_menu-container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 60px;
	padding-bottom: 60px;
 
	@media screen and (min-width: 480px) {
	  width: 480px;
	}
 
	@media screen and (min-width: 768px) {
	  width: 768px;
	}
 
	@media screen and (min-width: 1200px) {
	  width: 1200px;
	  padding-top: 94px;
     padding-bottom: 94px;
	}
 }
 // This is a index work-menu container
 .work_menu-container {
	display: none;
	padding-bottom: 60px;
	@include default-viewport;
 
	@media screen and (min-width: 480px) {
	  width: 480px;
	}
 
	@media screen and (min-width: 768px) {
	  width: 768px;
	}
 
	@media screen and (min-width: 1200px) {
	  width: 1200px;
	  display: block;
     padding-bottom: 94px;
	}
 }
 // This is a index our-team-menu container
 .our_team-container {
	padding-top: 60px;
	padding-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
 
	@media screen and (min-width: 480px) {
	  width: 480px;
	}
 
	@media screen and (min-width: 768px) {
	  width: 768px;
	}
 
	@media screen and (min-width: 1200px) {
	  width: 1200px;
	  padding-top: 94px;
     padding-bottom: 94px;
	}
 }
 // This is a index regular-customers-menu container
 .regular_customers-container {
	padding-top: 60px;
	padding-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
 
	@media screen and (min-width: 480px) {
	  width: 480px;
	}
 
	@media screen and (min-width: 768px) {
	  width: 768px;
	}
 
	@media screen and (min-width: 1200px) {
	  width: 1200px;
	  padding-top: 94px;
     padding-bottom: 94px;
	}
 }
 // This is a index footer-menu container
 .footer-container {
	padding-top: 60px;
	padding-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
 
	@media screen and (min-width: 480px) {
	  width: 480px;
	}
 
	@media screen and (min-width: 768px) {
	  width: 768px;
	}
 
	@media screen and (min-width: 1200px) {
	  width: 1200px;
	}
 }
 
 .portfolio_works-container {
	padding-top: 60px;
	padding-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
 
	@media screen and (min-width: 480px) {
	  width: 480px;
	}
 
	@media screen and (min-width: 768px) {
	  width: 768px;
	}
 
	@media screen and (min-width: 1200px) {
	  width: 1200px;
	}
 
 }