// Website core root styles.
$accent-color: #2196f3;
$main-text-color: #212121;
$second-color: #757575;
$core-color: #ffffff;
$sup-color: #000000;
$accent-color-button: #2196f3;
$accent-hover-button: #188ce8;
$background-core-cl: #ffffff;
$background-ourteam-cl: #f5f4fa;
$background-second-cl: #2f303a;
$background-icon-team: #afb1b8;
$border-color: #ececec;
$font-logo: "Raleway", sans-serif;
$font-main: "Roboto", sans-serif;
